<app-header></app-header>
<div class="bg" style="background-size: cover">
    <div class="container-fluid">
        <div class="row" style="padding-top: 19px;">
          
           <div class="center">
                 <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Device Name</label>
                        <input type="text" class="form-control transparent-input" id="organizationname">
                    </div>
    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12" style="background: none">
                        <label for="inputEmail4">Device Type</label>
                        <input type="text" class="form-control transparent-input" id="organizationname">
                    </div>
    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputEmail4">Identity</label>
                        <select id="inputState" class="form-control" style="background: none">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                    </div>
    
                </div>
             
             <div class="form-row">
                    <div class="form-group col-md-12" style="text-align: center">
                        <!-- <button type="button" class="btn btn-primary btn-block">Button 1</button> -->
                        <button type="button" class="btn btn-primary" style="width: 28%; height: 49px;background-color: #5D474A;  border: none; text-align: center">Submit</button>
                    </div>
    
                </div>
    
            </div>
            ...
    
        </div>
    
    </div>
    </div>