<div class="container-fluid" style="padding: 0px">
  <div>
    <nav class="navbar navbar-inverse" style="margin-bottom: 0px;border-radius: 0px;border:none">
      <div class="container-fluid" style="background-color: #1c2337;">
        <div class="navbar-header">

          <a class="navbar-brand navheader" (click)="showDashBoard()">Client Logo</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="navheader"><a href="#" style="color:white"><span class="glyphicon glyphicon-user navheader"></span>
              User Name</a></li>
          <li><button type="button" class="btn btn-primary btn-xs" style="margin: 14px;background-color: #273048;;border: 0px;" (click)="logOut()">Log
              Out</button></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="topnav">
      <i class="fa fa-bars" aria-hidden="true" style="font-size:26px;color:white; margin-left:24px;padding: 4px;" (click)="showSideMenu()"></i>
     <i class="fa fa-home" aria-hidden="true" style="font-size:26px;color:white; margin-left:24px;padding: 4px;" (click)="showDashBoard()"></i>
      <span style="font-size: 22px;color:white;padding-left: 150px;font-family: sans-serif;">{{title}}</span>
    <input type="text" placeholder=" Search.." style="background-color:#4A587D">
  </div>

</div>
<!--Side Menu-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  
  <a [routerLink]="['/add-tenant']">Add Client</a>
  <a [routerLink]="['/add-user']" >Add User</a>
  <a [routerLink]="['/add-device']">Add Device</a>
  <a [routerLink]="['/data-ingestion']">Data Ingestion Platform</a>
  </div>
