<app-header></app-header>
<div class="container-fluid">
  <div class="col-md-12" style="padding: 0px">
    <div class="col-md-9">
      <div class="row" style="margin-top: 4px;">
        <div class="col-md-3">
          <div class="form-group">
            <select id="region" name="region" placeholder="Region" class="form-control dropdown-wrapper" (change)="changeRegion($event)">
              <option *ngFor="let regions of region">{{regions}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select id="region" name="region" placeholder="Region" class="form-control dropdown-wrapper" (change)="changeRegion($event)">
              <option *ngFor="let regions of region">{{regions}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 pd-lr">
          <div class="col-md-4 pd-lr">
            <div class="card ">
              <div class="card-body card_wrapper-drivers">
                <span class="fs-40">35%</span><br>
                <span class="fs-17">229 nos</span><br>
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4 pd-lr">
            <div class="card">
              <div class="card-body card_wrapper-drivers">
                <span class="fs-40">35%</span><br>
                <span class="fs-17">229 nos</span><br>
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
            </div>

          </div>
          <div class="col-md-4 pd-lr">
            <div class="card">
              <div class="card-body card_wrapper-drivers">
                <span class="fs-40">35%</span><br>
                <span class="fs-17">229 nos</span><br>
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-5 pd-lr">
          <div class="col-md-6 pd-lr">
            <div class="card">
              <div class="card-body card_wrapper-drivers">
                <span class="fs-40">35%</span><br>
                <span class="fs-17">229 nos</span><br>
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 pd-lr">
            <div class="card">
              <div class="card-body card_wrapper-drivers">
                <span class="fs-40">35%</span><br>
                <span class="fs-17">229 nos</span><br>
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 7px;">
        <div class="col-md-4" style="padding: 0px;">
          <div class="card">
            <div class="card-header" style="background-color:#387577;color: white;padding-bottom: 5px;text-align: center;font-size: 18px;">
              Customer Reviews
            </div>
            <div class="card-body">
              <div class="col-md-8" style="padding: 0px">
                <ul class="list-group">
                  <li class="listgroup-wrapper list-back-ground-color-1">Name</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">1.Talbot Cocka</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">2. Thedric Winmill</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">4.Brannon</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">4.Brannon</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">5.Brannon</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">6.Brannon</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">7.Chico de Guerre</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">8.Brannon</li>
                </ul>
              </div>
              <div class="col-md-4" style="padding: 0px;">
                <ul class="list-group">
                  <li class="listgroup-wrapper" style="background-color: #EFEFEF">Consignment</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">4352MH400V</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">7851NK762P</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">6394UT522U</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">6266WO726G</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">6266WO726G</li>
                  <li class="listgroup-wrapper list-back-ground-color-3">6266WO726G</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">6266WO726G</li>
                  <li class="listgroup-wrapper list-back-ground-color-2">6266WO726G</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="padding-left: 2px;padding-right: 0px">
          <div class="card col-md-12" style="padding-left: 2px;padding-right: 2px">
            <div class="card-header" style="background-color:#387577;color: white;padding-bottom: 5px;text-align: center;font-size: 18px;">
              Driver Details
            </div>
            <div class="card-body" style="background-color: #FFFFFF">
              <!-- <div class="col-md-6">
                    <span>Name</span>
                    <span style="float: right;">Yvor Gav0zzi</span><br>
                     <span>Drive Performance</span>
                  </div>
                  <div class="col-md-6">
                    <div class="col-md-6" style="padding: 0px">
                      <span>96%</span>
                    </div>
                    <div class="col-md-6" style="padding: 0px">
                        1 year exp 6 year with us
                      </div>

                    </div> -->
              <div class="row padding-details">
                <div class="col-md-4">
                  <span>Name</span>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                  <span>Yvor Gav0zzi</span>
                </div>
              </div>
                <div class="row padding-details">
                    <div class="col-md-4">
                        <span>Drive Performance</span>
                      </div>
                      <div class="col-md-4" style="font-size: 25px;text-align:right;padding: 0px;">
                        96%
                      </div>
                      <div class="col-md-4" style="padding: 0px;">
                        <span>1 Year with us<br>6 year Exp</span>
                      </div>
                </div>
                <div class="row padding-details">
                    <div class="col-md-4">
                        <span>Average feedback <br> Rating</span>
                      </div>
                      <div class="col-md-4" style="font-size: 25px;text-align:right;padding: 0px;">
                        4<br>
                      </div>
                      <div class="col-md-4" style="padding: 0px">
                        <span>12345<br>Reviews</span>
                      </div>
                </div>
                <div class="row padding-details">
                    <div class="col-md-4">
                        <span>Time Stamp <br>of delivery</span>
                      </div>
                      <div class="col-md-4" style="text-align:right;padding: 0px;">
                        02/Jan/19<br>
                        19:35:50
                      </div>
                      <div class="col-md-4" style="text-align:right">
                        <span>On time<br>Delivery</span>
                      </div>
                </div>
               
             

            </div>
          </div>

        </div>

        <div class="col-md-4" style="padding-left: 2px;padding-right: 3px">
          <div class="col-md-12" style="padding:0px;background-color: #FFFFFF">
            <div class="card back-color">
              <div class="card-header" style="background-color:#387577;color: white;padding-bottom: 5px;text-align: center;font-size: 18px;">
                Feedback
              </div>
              <div class="card-body">
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <span style="float:right">More</span>

              </div>
            </div>

          </div>
          <div class="col-md-12" style="padding:0px;line-height:34px;background-color: #FFFFFF">
            <div class="card back-color">
              <div class="col-md-4" style="padding-right: 2px;padding-left: 2px">
                <span> JAN 2019</span>
              </div>
              <div class="col-md-4" style="padding: 0px">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </div>
              <div class="col-md-4">
                PRATYUSH
              </div>
              <div class="card-body">
                <input type="text" />
                <input type="text" />
                <input type="text" />
                <span style="float:right">More</span>

              </div>
            </div>


          </div>

        </div>
      </div>
      <div class="row" style="margin-top: 8px;">
        <div [chart]="scrollchart" style="height: 300px;"></div>
      </div>

    </div>
    <div class="col-md-3" style="margin-top: 32px;padding-left: 2px;padding-right: 2px">
      <div class="card col-md-12" style="padding: 0px">
        <div class="card-header" style="background-color:#387577;color: white;padding-bottom: 5px;text-align: center;font-size: 18px;">
          Top Rated Drivers
        </div>
        <div class="card-body">
          <div class="col-md-8 border-bottom" style="padding: 0px">
            <ul class="list-group">
              <li class="li-drivers" style="background-color: #EFEFEF">Name</li>
              <li class="li-drivers">1 &nbsp;Talbot Cocka</li>
              <li class="li-drivers">2&nbsp;Thedric Winmill</li>
              <li class="li-drivers">4&nbsp;Brannon</li>
              <li class="li-drivers">4&nbsp;Brannon</li>
              <li class="li-drivers">5&nbsp;Brannon</li>
              <li class="li-drivers">6&nbsp;Brannon</li>
              <li class="li-drivers">7&nbsp;Chico de Guerre</li>
              <li class="li-drivers">8&nbsp;Brannon</li>
              <li class="li-drivers">9&nbsp;Brannon</li>
              <li class="li-drivers">10&nbsp;Brannon</li>
            </ul>
          </div>
          <div class="col-md-4 border-bottom" style="padding: 0px">
            <ul class="list-group">
              <li class="li-drivers" style="background-color: #EFEFEF">
                Rating
              </li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card col-md-12" style="padding: 0px;margin-top: 8px">
        <div class="card-header" style="background-color:#387577;color: white;padding-bottom: 5px;text-align: center;font-size: 18px;">
          Top Rated Drivers
        </div>
        <div class="card-body">
          <div class="col-md-8 border-bottom" style="padding: 0px">
            <ul class="list-group">
              <li class="li-drivers" style="background-color: #EFEFEF">Name</li>
              <li class="li-drivers">1 &nbsp;Talbot Cocka</li>
              <li class="li-drivers">2&nbsp;Thedric Winmill</li>
              <li class="li-drivers">4&nbsp;Brannon</li>
              <li class="li-drivers">4&nbsp;Brannon</li>
              <li class="li-drivers">5&nbsp;Brannon</li>
              <li class="li-drivers">6&nbsp;Brannon</li>
              <li class="li-drivers">7&nbsp;Chico de Guerre</li>
              <li class="li-drivers">8&nbsp;Brannon</li>
              <li class="li-drivers">9&nbsp;Brannon</li>
              <li class="li-drivers">10&nbsp;Brannon</li>
            </ul>
          </div>
          <div class="col-md-4 border-bottom" style="padding: 0px;">
            <ul class="list-group">
              <li class="li-drivers" style="background-color: #EFEFEF">
                Rating
              </li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i>
              </li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers"> <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>
              <li class="li-drivers">
                <i class="fa fa-star icon-color" aria-hidden="true"></i> &nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i><i
                  class="fa fa-star icon-color" aria-hidden="true">&nbsp;</i>&nbsp;<i class="fa fa-star icon-color"
                  aria-hidden="true"></i></li>

            </ul>
          </div>
        </div>
      </div>





    </div>

  </div>

</div>