<app-header></app-header>
<div class="container-fluid" style="background:#FFFFFF;">
  <div class="col-md-12" style="padding: 0px">
    <div class="panel panel-default">
      <div class="panel-body" style="color:white">ECR</div>
      <div class="panel-footer panel-footer-wrapper">Andhra Pradesh Legislative Assembly</div>
    </div>

  </div>

  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <div class="col-md-8" style="margin-top:20px;border-bottom:1px solid #f4f4f4;">
              <div class="col-md-6 category-wrapper">
                <span>Total Constituencies</span>
              </div>
              <div class="col-md-2 category-wrapper">
                <span>Gen.</span>
                </div>
                <div class="col-md-2 category-wrapper">
                  SC.
                  </div>
                  <div class="col-md-2 category-wrapper">
                    ST.
                    </div>

            </div>
            <div class="col-md-6  col-md-offset-6">

            </div>

            <div class="col-md-8" style="border-bottom:2px solid #6A9DB7;padding-bottom:10px;">
                <div class="col-md-6 category-wrapper">
                  <span><b>175</b></span>
                </div>
                <div class="col-md-2 category-wrapper">
                  <span><b>139</b></span>
                  </div>
                  <div class="col-md-2 category-wrapper">
                   <b>29</b>
                    </div>
                    <div class="col-md-2 category-wrapper">
                    <b>7</b>
                      </div>
  
              </div>
            
          </div>
        </div>
        <div class="col-md-12">
            <div style="display:inline-block;">
                <div class="pull-left txt-align" style="margin-top:2px;margin-right:18px;">
                  <span class="age-lables" style="background:#F6EB17"></span>&nbsp;<span class="fs-11">YSRCP</span>
  
                </div>
                <div class="pull-left txt-align" style="margin-top:2px;margin-right:18px;">
                  <span class="age-lables" style="background: #3D7BAA"></span>&nbsp;<span class="fs-11">TDP
                    </span>
  
                </div>
  
                <div class="pull-left txt-align" style="margin-top:2px;margin-right:18px;">
                  <span class="age-lables" style="background:#f44E42"></span>&nbsp;<span class="fs-11">Seats
                    </span>
  
                </div>
  
  
              </div>
        </div>
       
      
      
      <div class="col-md-12">
            <img src="../../../assets/iconss/map.png" style="width:100%; height:100%;">
        </div>
  </div>


  <div class="col-md-6 mt-3">
    <!--Electorial Features-->
    <div class="col-md-12" style="padding: 0px">
      <div class="card">
        <div class="card-header card-header-wrapper">Electorial Features</div>
        <div class="card-body">  
          <div class="col-md-7 pt-25 border-bottom-wrapper" style="background-color: #fff;padding-bottom:59px;">
            <div class="col-md-12 txt-align">
                <span style="font-size:18px;">Total Booth:</span> <span style="font-size: 20px;padding-left: 33px;">38801</span>
            </div>
            <div class="col-md-12 txt-align" style="padding-top: 9px">
                <span style="font-size: 18px;">Voter Polled:</span> <span style="font-size: 20px; padding-left: 33px;">2,89,51,390</span>
            </div>
              

          </div>
          <div class="col-md-5 pt-9 border-bottom-wrapper" style="border:1px solid #f4f4f4;">
            <div class="col-md-12 txt-align">
              <span class="fs-18">Voter Turn Out</span>
            </div>
            <div class="col-md-12 txt-align">
                <circle-progress [percent]="78.9" [radius]="45" [outerStrokeWidth]="5" [showInnerStroke]="false"
                [outerStrokeColor]="'#094361'" [animation]="true" [animationDuration]="300" [showTitle]="true"
                [subtitle]=""  [showImage]="false"  [showSubtitle] = "false"
                ></circle-progress>

            </div>
 

          </div>

          <div class="col-md-7 border-bottom-wrapper" style="background-color: #fff;border:1px solid #f4f4f4;border-bottom: 2px solid #6A9DB7;padding-bottom: 32px;">
              <div class="col-md-12" style="text-align: center;font-size: 19px;">
                <span>Sex Ratio</span>

              </div>
                  <div class="col-md-12 txt-align">
                    <img src ="../../../assets/iconss/male.png" alt="maleimage" width="10%">
                      <span style="font-size:18px;">Male Ratio:</span> <span style="font-size: 20px;padding-left: 33px;">17315552</span>
                  </div>
                  <div class="col-md-12 txt-align" style="padding-top: 9px">
                      <img src ="../../../assets/iconss/female.png" alt="maleimage" width="10%">
                      <span style="font-size: 18px;">Female Ratio:</span> <span style="font-size: 20px; padding-left: 33px;">17604377</span>
                  </div>
                    
      
               
           
                
  
            </div>
            <div class="col-md-5 pt-9 border-bottom-wrapper" style="padding-bottom:43px;">
                <!-- <span style="font-size: 18px;">Voter Polled</span><br> <span style="font-size: 20px; padding-left: 33px;">25217251</span> -->

                <p class="txt-align" style="font-size: 18px; padding-top: 17px;">Total Electors</p>

                <p class="txt-align" style="font-size: 21px;">3,67,16,839</p>
          </div>



       </div>
      </div>

    </div>
   <!--Electorial Features-->

    <div class="col-md-12 top-parties-wrapper">
      <span>
        Top Parties
      </span>
    </div>

    <div class="col-md-12" style="padding: 0px;">
      <div class="col-md-4" style="padding: 3px;margin-top:10px;">
        <div class="full_bg col-md-12" style="padding: 0px;">
          <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
              <img src ="../../assets/iconss/ysr-image.png" style="width:100" height="51px">
              <p class="white">YSRCP</p>
           </div>
         
               <div class="col-md-7" style="padding: 0px;">
                 <p class="pl-16">Seats</p>
                  <p class="pl-16 orange">Won :67</p>
                  <p class="pl-16 blue">Contested :25</p>
                </div>
           </div>
       
      </div>
      <!-- <div class="left"></div>
      <div class="right"></div>
      <p>Example text...</p> -->
      <div class="col-md-4" style="padding: 3px;margin-top:10px;">
          <div class="full_bg col-md-12" style="padding: 0px;">
            <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                <img src ="../../assets/iconss/-1.png" style="width:100" height="51px">
                <p class="white">TDP</p>
             </div>
           
                 <div class="col-md-7" style="padding: 0px;">
                   <p class="pl-16">Seats</p>
                    <p class="pl-16 orange">Won :102</p>
                    <p class="pl-16 blue">Contested :25</p>
                  </div>
             </div>
         
        </div>
        <div class="col-md-4" style="padding: 3px;margin-top:10px;">
            <div class="full_bg col-md-12" style="padding: 0px;">
              <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                  <img src ="../../assets/iconss/-1.png" style="width:100" height="51px">
                  <p class="white">Others</p>
               </div>
             
                   <div class="col-md-7" style="padding: 0px;">
                     <p class="pl-16">Seats</p>
                      <p class="pl-16 orange">Won:2</p>
                      <p class="pl-16 blue">Contested :25</p>
                    </div>
               </div>
           
          </div>
       
           <div class="clearfix"></div>
                <h4 style="text-align:right ">
                  Government Format by Telugu Desam Party
                  </h4>
                  <div class="clearfix"></div>
                 
                  <h4 style="float:right;font-weight:bold;">N Chandra Babu Naidu</h4>
                  <img src ="../../assets/iconss/7-.png" style="width:100;float:right" height="51px">

    </div>
 </div>
</div>
