<!-- <app-header></app-header> -->
<div class="container-fluid">
        <div class="row">
                <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                    <h3>{{title}}</h3>
                </div> -->
            </div>
<iframe src="https://app.powerbi.com/view?r=eyJrIjoiMDdiMzBiMWEtZjFiYi00ZGU1LTg2YjQtOGMwZmZkOGRkMzY3IiwidCI6IjI1MmRlZDAzLWM5ZDQtNDE5OS05YTM1LTEzZDAyZGYzYzc1NCIsImMiOjN9"
height='650' width='1366' scrolling='no'  frameborder="0" allowfullscreen>
  
</iframe>
</div>