<header class="bg">
  <div class="overlay"></div>
  <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../assets/videos/cb5.mp4" type="video/mp4">
        
    </video> -->
  <div></div>

  <div class="container h-100">
    <div style="text-align: center">
      <h3 class="text-center;">
        <img
          style="padding-top: 5%"
          class="w-50"
          src="/assets/AbaxentLogo.png"
        />
      </h3>
      <br />
      <span class="spn-s">SIGN IN</span>
    </div>
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: center;">
        <div class="image_section">
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/manulogin.png">
            <h6> Manufacturing </h6>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/billlogin.png">
            <h6> Transportation </h6>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/Finlogin.png">
            <h6> Finance </h6>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/humanLog.png">
            <h6> Human Capital </h6>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/healthLog.png">
            <h6> Healthcare </h6>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 text-center">
            <img src="../../assets/images/energyLog.png">
            <h6> Energy </h6>
          </div>
        </div>
      </div> -->
    </div>

    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="col-md-12 text-center loginFormSection">
              <div class="card-header">
                <h4
                  style="
                    color: #fff;
                    font-weight: bold;
                    font-size: 15px;
                    text-align: center;
                    padding-right: 50px;
                  "
                >
                  Sign In
                </h4>
              </div>
              <div class="card-body">
                <form #myForm="ngForm" (ngSubmit)="register(myForm)">
                  <div class="form-group col-md-12">
                    <label
                      class="col-md-3 p-0 clr"
                      style="color: black; margin-left: 5%; font-size: 17px"
                      >User Name:</label
                    >
                    <div class="col-md-9">
                      <input
                        type="text"
                        class="form-control fields"
                        name="user"
                        [(ngModel)]="userName"
                        required
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label
                      class="col-md-3 p-0 clr"
                      style="color: black; margin-left: 5%; font-size: 17px"
                      >Password:</label
                    >
                    <div class="col-md-9">
                      <div class="col-md-9"></div>
                      <input
                        type="password"
                        class="form-control fields"
                        name="password"
                        [(ngModel)]="password"
                        required
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="submit"
                      class="btn float-right login_btn"
                      value="ENTER"
                    />
                  </div>
                </form>
              </div>
            </div>

            <div>
              <!-- <img src="../../assets/images/databoticsfooter.png" style="width: 560px;margin-top: 15px;"> -->

              <div class="footer_content">
                <h4 class="color">
                  Business Intelligence - IoT - Data Analytics
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        <p style="text-align: center">{{ modelText }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
