<div class="container-fluid" style="padding: 0px">
  <div class="panel panel-default">
      <div class="panel-body" style="text-align: right; background-color:#6C950F;margin-top:20px;"><strong style="color:white;">USECASE</strong></div>
    </div>

    <div class="col-md-12 padding:0px" *ngIf='UseCaseType==1'>
      <div class="row">
        <div class="col-md-2 imgmargin" (click)="redirect(1)" *ngIf='!showfleetManagment'>
          <div class="talkbubble">
          <img src="../../assets/22.png" class="img-center img-responsive">

           <p style="text-align: center; color:#267872;font-weight:bold;">Fleet Management</p>
  </div>
        </div>
        <div class="col-md-2 imgmargin" *ngIf='showfleetManagment'>

          <div class="talkbubble1">
            <img src="../../assets/22.png" class="img-center img-responsive">

             <p style="text-align: center; color:#fff;font-weight:bold;">Fleet Management</p>
    </div>
        </div>  



        <!-- <div class="col-md-2 imgmargin" (click)="redirect(2)" *ngIf='!fleetMaintaince'>
          <div class="talkbubble">
          <img src="../../assets/22.png" class="img-center img-responsive">
          <p style="text-align: center;color:#267872 ;font-weight:bold;">Fleet Maintaince</p>
  </div>

        </div>

        <div class="col-md-2 imgmargin" *ngIf='fleetMaintaince'>
          <div class="talkbubble1">
            <img src="../../assets/22.png" class="img-center img-responsive">
            <p style="text-align: center;color:#fff ;font-weight:bold;">Fleet Maintaince</p>
    </div>

        </div> -->



        <!-- <div class="col-md-2 imgmargin">
          <div class="talkbubble">
          <img src="../../assets/22.png" class="img-center img-responsive">
          <p style="text-align: center;color:#267872;font-weight:bold;">Vehicle Route Tracking</p>
  </div>
        </div> -->
 </div>
 
    </div>

    <div *ngIf='UseCaseType==2'>
     
      <div class="col-md-12 padding:0px">
        <div class="row">
          <div class="col-md-2 imgmargin" (click)="redirect(1)" *ngIf='!showfleetManagment'>
            <div class="talkbubble">
            <img src="../../assets/22.png" class="img-center img-responsive">
  
             <p style="text-align: center; color:#267872;font-weight:bold;">Test 1</p>
    </div>
          </div>
          <div class="col-md-2 imgmargin" *ngIf='showfleetManagment'>
  
            <div class="talkbubble1">
              <img src="../../assets/22.png" class="img-center img-responsive">
  
               <p style="text-align: center; color:#fff;font-weight:bold;">Test 1</p>
      </div>
          </div>  
  
  
  
          <!-- <div class="col-md-2 imgmargin" (click)="redirect(2)" *ngIf='!fleetMaintaince'>
            <div class="talkbubble">
            <img src="../../assets/22.png" class="img-center img-responsive">
            <p style="text-align: center;color:#267872 ;font-weight:bold;">Test 2</p>
    </div>
  
          </div> -->
  
          <!-- <div class="col-md-2 imgmargin" *ngIf='fleetMaintaince'>
            <div class="talkbubble1">
              <img src="../../assets/22.png" class="img-center img-responsive">
              <p style="text-align: center;color:#fff ;font-weight:bold;">Test 2</p>
      </div>
  
          </div> -->
  
  
  
          <!-- <div class="col-md-2 imgmargin">
            <div class="talkbubble">
            <img src="../../assets/22.png" class="img-center img-responsive">
            <p style="text-align: center;color:#267872;font-weight:bold;">Test3</p>
    </div>
          </div> -->
   </div>
   
      </div>
      
   </div>

    <div *ngIf='UseCaseType==3'>
    <div class="col-md-12">
     <div class="row">
        <div class="col-md-2 imgmargin" (click)="redirect(3)" *ngIf='!showmanufacturing'>
            <div class="talkbubble">
            <img src="../../assets/22.png" class="img-center img-responsive">
  
             <p style="text-align: center; color:#267872;font-weight:bold;">Inventory Management</p>
    </div>
          </div>

     </div>
    </div>
   
    <div class="col-md-2 imgmargin" *ngIf='showmanufacturing'>

        <div class="talkbubble1">
          <img src="../../assets/22.png" class="img-center img-responsive">

           <p style="text-align: center; color:#fff;font-weight:bold;">Inventory Management</p>
  </div>
      </div>  
    </div>





    <div *ngIf='UseCaseType==4'>
    <app-textile></app-textile>
      </div>

      <div *ngIf='UseCaseType==5'>
      <app-energy></app-energy>
          </div>
</div>
<app-reports [ReportUseCaseType]="reportUseCaseTypeValue" *ngIf="reportusecase"></app-reports>
<router-outlet></router-outlet>
<!-- <app-reports></app-reports> -->
<!-- <app-vehicledata *ngIf="showVechile"></app-vehicledata> -->



