<app-header></app-header>
<div class="container-fluid" style="background:#fff;">
  <div class="col-md-12" style="padding: 0px">
    <div class="panel panel-default">
      <div class="panel-body" style="color:white">ECR</div>
      <div class="panel-footer panel-footer-wrapper">Andhra Pradesh Legislative Assembly</div>
    </div>

  </div>

  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
            <div class="col-md-8" style="margin-top:20px;border-bottom:1px solid #f4f4f4;">
              <div class="col-md-6 category-wrapper">
                <span>Total Constituencies</span>
              </div>
              <div class="col-md-2 category-wrapper">
                <span>Gen.</span>
                </div>
                <div class="col-md-2 category-wrapper">
                  SC.
                  </div>
                  <div class="col-md-2 category-wrapper">
                    ST.
                    </div>

            </div>
            <div class="col-md-6  col-md-offset-6">

            </div>

            <div class="col-md-8" style="border-bottom:1px solid #104b6b;padding-bottom:10px;">
                <div class="col-md-6 category-wrapper">
                  <span><b>176</b></span>
                </div>
                <div class="col-md-2 category-wrapper">
                  <span><b>20</b></span>
                  </div>
                  <div class="col-md-2 category-wrapper">
                   <b> 4</b>
                    </div>
                    <div class="col-md-2 category-wrapper">
                    <b> 1</b>
                      </div>
  
              </div>
            
          </div>
        </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="col-md-12" style="padding: 0px">
      <div class="card">
        <div class="card-header card-header-wrapper">Electorial Features</div>
        <div class="card-body">  
          <div class="col-md-8 pt-25 border-bottom-wrapper" style="background-color: #fff;padding-bottom:47px;">
            <div>
                <span style="font-size:18px;">Total Booth:</span> <span style="font-size: 20px;padding-left: 33px;">38801</span>
            </div>
            <div style="padding-top: 9px">
                <span style="font-size: 18px;">Voter Polled:</span> <span style="font-size: 20px; padding-left: 33px;">25217251</span>
            </div>
              

          </div>
          <div class="col-md-4 pt-9 border-bottom-wrapper" style="padding-bottom:13px;border:1px solid #f4f4f4;">
            <span>Voter Turn Out</span>
            <circle-progress [percent]="80" [radius]="35" [outerStrokeWidth]="5" [showInnerStroke]="false"
              [outerStrokeColor]="'#094361'" [animation]="true" [animationDuration]="300" [showTitle]="false"
              [subtitle]="" [imageSrc]="'../../assets/iconss/7.png'" [showImage]="true" [imageHeight]="30"
              [imageWidth]="30"></circle-progress>

          </div>

          <div class="col-md-8 pt-25 border-bottom-wrapper" style="background-color: #fff;padding-bottom:17px;border:1px solid #f4f4f4;">
            <div class="col-md-6" style="padding: 0px">
                  <circle-progress [percent]="80" [radius]="35" [outerStrokeWidth]="5" [showInnerStroke]="false"
                  [outerStrokeColor]="'#0b194f'" [animation]="true" [animationDuration]="300" [showTitle]="false"
                  [subtitle]="" [imageSrc]="'../../assets/iconss/2-.png'" [showImage]="true" [imageHeight]="30"
                  [imageWidth]="30"></circle-progress>
              </div>
              <div class="col-md-6" style="padding: 0px">
                  <circle-progress [percent]="80" [radius]="35" [outerStrokeWidth]="5" [showInnerStroke]="false"
                  [outerStrokeColor]="'#f8513d'" [animation]="true" [animationDuration]="300" [showTitle]="false"
                  [subtitle]="" [imageSrc]="'../../assets/iconss/1-.png'" [showImage]="true" [imageHeight]="30"
                  [imageWidth]="30"></circle-progress>
              </div>
                
  
            </div>
            <div class="col-md-4 pt-9 border-bottom-wrapper" style="padding-bottom:36px;">
                <!-- <span style="font-size: 18px;">Voter Polled</span><br> <span style="font-size: 20px; padding-left: 33px;">25217251</span> -->

                <p style="font-size: 18px; padding-top: 17px;">Total Electors</p>

                <p style="font-size: 21px;">12345678</p>
          </div>



       </div>
      </div>

    </div>
    <div class="col-md-12 top-parties-wrapper">
      <span>
        Top Parties
      </span>
    </div>

    <div class="col-md-12" style="padding: 0px;">
      <div class="col-md-4" style="padding: 3px;margin-top:10px;">
        <div class="full_bg col-md-12" style="padding: 0px;">
          <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
              <img src ="../../assets/iconss/ysr-image.png" style="width:100" height="51px">
              <p class="white">YSRCP</p>
           </div>
         
               <div class="col-md-7" style="padding: 0px;">
                 <p class="pl-16">Seats</p>
                  <p class="pl-16 orange">Won :8</p>
                  <p class="pl-16 blue">Contested :25</p>
                </div>
           </div>
       
      </div>
      <!-- <div class="left"></div>
      <div class="right"></div>
      <p>Example text...</p> -->
      <div class="col-md-4" style="padding: 3px;margin-top:10px;">
          <div class="full_bg col-md-12" style="padding: 0px;">
            <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                <img src ="../../assets/iconss/-1.png" style="width:100" height="51px">
                <p class="white">TDP</p>
             </div>
           
                 <div class="col-md-7" style="padding: 0px;">
                   <p class="pl-16">Seats</p>
                    <p class="pl-16 orange">Won :8</p>
                    <p class="pl-16 blue">Contested :25</p>
                  </div>
             </div>
         
        </div>
        <div class="col-md-4" style="padding: 3px;margin-top:10px;">
            <div class="full_bg col-md-12" style="padding: 0px;">
              <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                  <img src ="../../assets/iconss/4-.png" style="width:100" height="51px">
                  <p class="white">BJP</p>
               </div>
             
                   <div class="col-md-7" style="padding: 0px;">
                     <p class="pl-16">Seats</p>
                      <p class="pl-16 orange">Won :8</p>
                      <p class="pl-16 blue">Contested :25</p>
                    </div>
               </div>
           
          </div>
          <div class="col-md-4" style="padding: 3px;margin-top:10px;">
              <div class="full_bg col-md-12" style="padding: 0px;">
                <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                    <img src ="../../assets/iconss/5-.png" style="width:100" height="51px">
                    <p class="white">INc</p>
                 </div>
               
                     <div class="col-md-7" style="padding: 0px;">
                       <p class="pl-16">Seats</p>
                        <p class="pl-16 orange">Won :8</p>
                        <p class="pl-16 blue">Contested :25</p>
                      </div>
                 </div>
             
            </div>
            <div class="col-md-4" style="padding: 3px;margin-top:10px;">
                <div class="full_bg col-md-12" style="padding: 0px;">
                  <div class="col-md-5 red" style="padding: 0px;padding-left:5px !important">
                      <img src ="../../assets/iconss/plain.png" style="width:100" height="51px">
                      <p class="white">JASPA</p>
                   </div>
                 
                       <div class="col-md-7" style="padding: 0px;">
                         <p class="pl-16">Seats</p>
                          <p class="pl-16 orange">Won :8</p>
                          <p class="pl-16 blue">Contested :25</p>
                        </div>
                   </div>
               
              </div>
              <div class="col-md-4" style="padding: 3px;margin-top:10px;">
                  <div class="col-md-12" style="padding: 0px;">
                    <div class="col-md-5" style="padding: 0px;">
                       
                        <p  class="p-15">Other & Independents</p>
                     </div>
                   
                         <div class="col-md-7" style="padding: 0px;">
                           <p class="pl-16 bg_new">Won:2</p>
                           <p class="pl-16 bg_blue">Contested:3</p>
                          </div>
                     </div>
                     <div class="col-md-12" style="padding: 0px;margin-top:5px;">
                        <div class="col-md-5" style="padding: 0px;">
                           
                            <p  class="p-15">Total</p>
                         </div>
                       
                             <div class="col-md-7" style="padding: 0px;">
                               <p class="pl-16 bg_new">Won:2</p>
                               <p class="pl-16 bg_blue">Contested:3</p>
                              </div>
                         </div>
                 
                </div>
                <div class="clearfix"></div>
                <h4 style="text-align:right ">
                  Government Format by Telugu Desam Party
                  </h4>
                  <div class="clearfix"></div>
                 
                  <h4 style="float:right;font-weight:bold;">N Chandra Babu Naidu</h4>
                  <img src ="../../assets/iconss/7-.png" style="width:100;float:right" height="51px">

    </div>
 </div>
</div>
