<header class="bg">
  <div class="overlay"></div>
  <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../assets/videos/cb5.mp4" type="video/mp4">
      
  </video> -->
  <div>
       
  </div>
  
  <div class="container h-100">
     
    <div class="d-flex text-center h-100"  style="height:76% !important;">
      <div class="my-auto w-100 text-white">
        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h4 style="color:#fff;">Sign UP</h4>
             
            </div>
            <div class="card-body">
              <form>
                <div class="form-group col-md-12">
                <label class="col-md-5 p-0 clr">Organization Name</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" name="user1">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-5 p-0 clr">Organization Category</label>
                  <div class="col-md-7">
                  <input type="password" class="form-control" name ="password1">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <label class="col-md-5 p-0 clr">Admin Name</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" name="adminname">
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-5 p-0 clr">Admin Role</label>
                    <div class="col-md-7">
                      <input type="text" class="form-control" name="adminrole">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="col-md-5 p-0 clr">Official Email ID</label>
                      <div class="col-md-7">
                        <input type="text" class="form-control" name="OfficialEmailID">
                        </div>
                      </div>
                      <div class="form-group col-md-12">
                        <label class="col-md-5 p-0 clr">Contact No</label>
                        <div class="col-md-7">
                          <input type="text" class="form-control" name="Contact No">
                          </div>
                        </div>
                        
              </form>
            </div>
           
          </div>
        </div>
        
      </div>
    </div>
  </div>

</header>
