<app-header (sidenavChange)='sidenavChanged()'></app-header>

<div class="container-fluid">
  <!-- <div class="row m-0">
    <div class="col-md-2">
         <div class="row m-0">
               <div class="col-md-12 padding0 t-a">
                    <span> {{(drivetime) ? drivetime : '- -'}} </span><br>
                    <span>Drive Time</span>
               </div>
               <div class="col-md-12 padding0">
                    <img class="img" src="../../assets/distance.png">
               </div>
         </div>
    </div>
    <div class="col-md-2">
            <div class="row m-0">
                    <div class="col-md-12 padding0 t-a">
                         <span> {{(distance) ? distance : '- -'}} </span><br>
                         <span>Distance Travelled</span>
                    </div>
                    <div class="col-md-12 padding0">
                            <img class="img" src="../../assets/distance.png">
                    </div>
              </div>
    </div>
    <div class="col-md-2">
            <div class="row m-0">
                    <div class="col-md-12 padding0 t-a">
                         <span> {{(idlingtime) ? idlingtime : '- -'}} </span><br>
                         <span>Idling</span>
                    </div>
                    <div class="col-md-12 padding0">
                            <img class="img" src="../../assets/distance.png">
                    </div>
              </div>
    </div>
    <div class="col-md-2">
            <div class="row m-0">
                    <div class="col-md-12 padding0 t-a">
                         <span> - - </span><br>
                         <span>Speeding</span>
                    </div>
                    <div class="col-md-12 padding0">
                            <img class="img" src="../../assets/distance.png">
                    </div>
              </div>
    </div>
    <div class="col-md-2">
            <div class="row m-0">
                    <div class="col-md-12 padding0 t-a">
                         <span> - - </span><br>
                         <span>Hard Braking</span>
                    </div>
                    <div class="col-md-12 padding0">
                            <img class="img" src="../../assets/distance.png">
                    </div>
              </div>
    </div>
    <div class="col-md-2">
            <div class="row m-0">
                    <div class="col-md-12 padding0 t-a">
                         <span> - - </span><br>
                         <span>Acceleration</span>
                    </div>
                    <div class="col-md-12 padding0">
                            <img class="img" src="../../assets/distance.png">
                    </div>
              </div>
    </div>
  </div> -->
  <ul class="padding0" style="list-style: none">
      <li class="li-items">
          <span class="f-s-30">4</span><br>
          <img class="p-4" src="../../assets/databot-page - icon1.png"><br>
          <span>Total Trucks</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">{{(drivetime) ? drivetime : '- -'}}</span><br>
            <img class="p-2" src="../../assets/databot-page - icon2.png"><br>
            <span>Drive Time</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">{{(distance) ? distance : '- -'}}</span><br>
            <img src="../../assets/databot-page - icon3.png"><br>
            <span>Distance Travelled</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">{{(idlingtime) ? idlingtime : '- -'}}</span><br>
            <img class="p-10" src="../../assets/databot-page - icon4.png"><br>
            <span>Idling</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">200</span><br>
            <img src="../../assets/databot-page - icon5.png"><br>
            <span>Speeding</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">60</span><br>
            <img src="../../assets/databot-page - icon6.png"><br>
            <span>Hard Braking</span>
      </li>
      <li class="li-items">
            <span class="f-s-30">321</span><br>
            <img class="p-6" src="../../assets/databot-page - icon7.png"><br>
            <span>Acceleration</span>
      </li>
  </ul>
  <div class="row m-0 m-t-10">
      <div class="col-md-12 padding0 m-4">
          <div id='map' class="col-md-12"></div>
      </div>
  </div>
</div>