<app-header (sidenavChange)='sidenavChanged()'></app-header>

<div class="container-fluid">
  <!-- <ul class="padding0" style="list-style: none">
      <li class="li-items">
          <span class="f-s-22">{{mapdata.length}}</span><br>
          <img class="p-4" src="../../assets/databot-page - icon1.png"><br>
          <span>Total Trucks</span>
      </li>
      <li class="li-items">
            <span class="f-s-22">{{(drivetime) ? drivetime : '- -'}}</span><br>
            <img class="p-2" src="../../assets/databot-page - icon2.png"><br>
            <span>Drive Time</span>
      </li>
      <li class="li-items">
            <span class="f-s-22">{{(distance) ? distance : '- -'}}</span><br>
            <img src="../../assets/databot-page - icon3.png"><br>
            <span>Distance Travelled</span>
      </li>
      <li class="li-items">
            <span class="f-s-22">{{(idlingtime) ? idlingtime : '- -'}}</span><br>
            <img class="p-10" src="../../assets/databot-page - icon4.png"><br>
            <span>Idling</span>
      </li>
      <li class="li-items">
            <span class="f-s-22">{{(highspeed) ? highspeed : '- -'}}</span><br>
            <img src="../../assets/databot-page - icon5.png"><br>
            <span>Speeding</span>
      </li>
      <li class="li-items">
            <span class="f-s-22"> {{(harshbraking) ? harshbraking : '- -'}} </span><br>
            <img src="../../assets/databot-page - icon6.png"><br>
            <span>Hard Braking</span>
      </li>
      <li class="li-items">
            <span class="f-s-22">{{(rapidacceleration) ? rapidacceleration : '- -'}}</span><br>
            <img class="p-6" src="../../assets/databot-page - icon7.png"><br>
            <span>Acceleration</span>
      </li>
  </ul> -->
  <!-- <div class="row m-0 m-t-10">
      <div class="col-md-7 padding0 float-left">
        <div class="col-md-3 d-3 padding0 float-left">
            <div class="a-r-d">
                <div class="row m-0">
                    <div class="col-md-12 p-4 m-t">
                            From: <input type="text" [(ngModel)]="fromdate" style="width: 140px;" (keyup.enter)="searchingBydate()" placeholder="MM/DD/YYYY">
                    </div>
                    <div class="col-md-12 p-4 m-t">
                            to: <input type="text" id="today" [(ngModel)]="todate" style="width: 140px;margin-left: 20px;" placeholder="MM/DD/YYYY" value="todate">
                    </div>
                    <div class="col-md-12 p-4 m-t">
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-3 padding0 float-left">
            <div class="a-r-d">
                <div class="row m-0">
                <ul class="padding0" style="list-style: none">
                        <li class="li-items">
                            <span class="f-s-22">{{mapdata?.length}}</span><br>
                            <img class="p-4" src="../../assets/databot-page - icon1.png"><br>
                            <span>Total Vehicles</span>
                        </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-3 padding0 float-left">
            <div class="a-r-d">
                <div class="row m-0">
                <ul style="list-style: none">
                        <li class="li-items">
                                <span class="f-s-22">{{(drivetimeDaysFormat) ? drivetimeDaysFormat : '- -'}}</span><br>
                                <img class="p-2" src="../../assets/databot-page - icon2.png"><br>
                                <span>Drive Time</span>
                        </li>
                </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-3 padding0 float-left">
            <div class="a-r-d">
                <div class="row m-0">
                <ul style="list-style: none">
                        <li class="li-items">
                                <span class="f-s-22">{{(distance) ? distance : '- -'}}</span><br>
                                <span class="f-s-10">(Miles)</span>
                                <img class="img-w" src="../../assets/databot-page - icon3.png"><br>
                                <span>Distance Travelled</span>
                        </li>
                </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-5 padding0 float-left">
           <div class="row m-0">
                <div class="col-md-6 padding0">
                    <div class="a-r-d">
                        <div class="row m-0">
                            <div class="col-md-4 padding0 float-left">
                                    <img class="w-100" src="../../assets/databot-page - icon4.png">
                                   
                            </div>
                            <div class="col-md-4 m-a padding0 float-left"> 
                                    <span class="float-left">Idling</span>&nbsp;
                                    <span class="f-s-10">(Incidents)</span>
                            </div>
                            <div class="col-md-4 m-a padding0 float-left">
                                    <span class="f-s-22 float-left">{{(idlingtime) ? idlingtime : '- -'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 padding0">
                    <div class="a-r-d">
                        <div class="row m-0">
                            
                                <div class="col-md-4 padding0 float-left">
                                        <img class="w-104" src="../../assets/databot-page - icon5.png">
                                       
                                </div>
                                <div class="col-md-4 m-a padding0 float-left"> 
                                        <span class=" float-left">Speeding</span>&nbsp;
                                        <span class="f-s-10">(Incidents)</span>
                                </div>
                                <div class="col-md-4 m-a padding0 float-left">
                                        <span class="f-s-22 float-left">{{(highspeed) ? highspeed : '- -'}}</span>
                                </div>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row m-0">
                <div class="col-md-6 m-t-3 padding0">
                    <div class="a-r-d">
                         <div class="row m-0">
                                <div class="col-md-4 padding0 float-left">
                                        <img class="w-88" src="../../assets/databot-page - icon6.png">
                                       
                                </div>
                                <div class="col-md-4 m-a padding0 float-left"> 
                                        <span class="float-left">Harsh Braking</span>&nbsp;
                                        <span class="f-s-10">(Incidents)</span>
                                </div>
                                <div class="col-md-4 m-a padding0 float-left">
                                        <span class="f-s-22"> {{(harshbraking) ? harshbraking : '- -'}} </span>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 m-t-3 padding0">
                    <div class="a-r-d">
                        <div class="row m-0">
                                <div class="col-md-4 padding0 float-left">
                                        <img class="w-95" src="../../assets/databot-page - icon7.png">
                                       
                                </div>
                                <div class="col-md-4 m-a padding0 float-left"> 
                                        <span class="float-left">Acceleration</span>&nbsp;
                                        <span class="f-s-10">(Incidents)</span>
                                </div>
                                <div class="col-md-4 m-a padding0 float-left">
                                        <span class="f-s-22">{{(rapidacceleration) ? rapidacceleration : '- -'}}</span>
                                </div>
                        </div>
                    </div>
                </div>
           </div>
      </div>

  </div>
  <div class="row m-0 m-t-10">
      <div class="col-md-12 padding0 m-4">
          <div id='map' class="col-md-12"></div>
      </div>
  </div>
</div> -->

<div class="row wi">

        <div class="row m-0 m-t-10 db-fmicons">
            <div class="col-md-6 padding0 float-left" style="background: radial-gradient(black, transparent);">
              <div class="col-md-3 d-3 padding0 float-left " style="text-align: left;">
                  <div class="a-r-d1">
                      <div class="row m-0 cor" style="padding: 30px; padding-left: 0px;">
                          <div class="col-md-12">
                                From: <input type="text" [(ngModel)]="fromdate" style="width: 125px;color: black" (keyup.enter)="searchingBydate()" placeholder="MM/DD/YYYY">
                          </div><br>
                          <div class="col-md-12 m-t-10">
                                to: <input type="text" id="today" [(ngModel)]="todate" style="width: 125px; color: black" placeholder="MM/DD/YYYY" value="todate">
                          </div>
                          <div class="col-md-12 p-4 m-t-0">
                              <!-- <button class="btn" (click)="searchingBydate()">Submit</button> -->
                          </div>
                      </div>
                  </div>
              </div>
         
          
              <div class="col-md-3 d-3 padding0 float-left">
                  <div class="a-r-d2">
                      <div class="row m-0 cor">
                      <ul class="padding0" style="list-style: none">
                              <li class="li-items cor">
                                  <img class="p-4"  class="w-10" src="../../assets/icon-001.png"><br>
                                  <span>TOTAL TRUCKS</span><br>
                                  <span></span><br>
                                  <button class="p-31 m-t-10"><span class="f-s-22">{{mapdata?.length}}</span></button><br>
                                 
                                 
                              </li>
                      </ul>
                      </div>
                  </div>
              </div>
          
         
              <div class="col-md-3 d-3 padding0 float-left">
                  <div class="a-r-d2">
                      <div class="row m-0 cor">
                      <ul style="list-style: none; padding: 0px;">
                              <li class="li-items cor">
                                      <img class="p-2" class="w-10" src="../../assets/icon-002.png"><br> 
                                      <span>DRIVE TIME</span><br>
                                      <span class="f-s-10">(0d 0h 0m)</span><br>
                                      <button class="p-30 m-t-10"><span class="f-s-22">{{(drivetimeDaysFormat) ? drivetimeDaysFormat : '- -'}}</span></button><br>
                                     
                              </li>
                      </ul>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 d-3 padding0 float-left">
                  <div class="a-r-d2">
                      <div class="row m-0 cor">
                      <ul style="list-style: none; padding: 0px;">
                              <li class="li-items cor">
                                      <img class="w-10" src="../../assets/icon-003.png"> <br>
                                     <span>DISTANCE TRAVELLED</span><br>
                                     <span class="f-s-10">(Miles)</span><br>
                                     <button class="p-30 m-t-10"><span class="f-s-22">{{(distance) ? distance : '- -'}}</span></button>
                                      
                              </li>
                      </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 padding0 float-left" >
                 <div class="row m-0 cor" style="background: radial-gradient(black, transparent); width: 97%;" >
                      <div class="col-md-3 padding0">
                          <div class="a-r-d3 cor">
                              <div class="row m-0">
                                  <div class="col-md-12 padding0 float-left">
                                          <ul class="padding0" style="list-style: none">
                                                  <li class="li-items ">
                                                       <img class="w-10" src="../../assets/icon-004.png"><br>
                                                       <span class="float-left">IDLING</span><br>
                                                       <span class="f-s-10">(Incidents)</span><br>
                                                        <button class="p-31 m-t-10"><span class="f-s-22 float-left">{{(idlingtime) ? idlingtime : '- -'}}</span></button>
                                                   </li>
                                         </ul>
                                  </div>
                                  <!-- <div class="col-md-4 m-a padding0 float-left"> 
                                         
                                  </div> -->
                                  <!-- <div class="col-md-4 m-a padding0 float-left">
                                         
                                      </div> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 padding0">
                          <div class="a-r-d6">
                              <div class="row m-0 cor ">
                                  
                                      <div class="col-md-12 a-r-d padding0 float-left">
                                              <ul class="padding0" style="list-style: none">
                                                      <li class="li-items ">
                                                          <img class="w-10" src="../../assets/icon-005.png"><br>
                                                          <span class=" float-left">SPEEDING</span><br>
                                                          <span class="f-s-10">(Incidents)</span><br>
                                                          <button class="p-30 m-t-10"><span class="f-s-22 float-left">{{(highspeed) ? highspeed : '- -'}}</span></button>
                                                      </li>
                                              </ul>    
                                      </div>
                                      <!-- <div class="col-md-4 m-a padding0 float-left"> 
                                              
                                      </div> -->
                                      <!-- <div class="col-md-4 m-a padding0 float-left">
                                              
                                          </div> -->
                              </div>
                          </div>
                      </div>
                
                 
                      <div class="col-md-3 m-t-2 padding0">
                          <div class="a-r-d3 cor">
                               <div class="row m-0 ">
                                      <div class="col-md-12 padding0 float-left">
                                              <ul class="padding0" style="list-style: none">
                                                      <li class="li-items ">
                                                          <img class="w-10" src="../../assets/icon-006.png"><br>          
                                                          <span class="float-left">HARSH BRAKING</span><br>
                                                          <span class="f-s-10">(Incidents)</span><br>
                                                          <button class="p-30 m-t-10"><span class="f-s-22"> {{(harshbraking) ? harshbraking : '- -'}} </span></button>
                                                      </li>
                                                  </ul>
                                      </div>
                                      <!-- <div class="col-md-4 m-a padding0 float-left"> 
                                              
                                      </div> -->
                                      <!-- <div class="col-md-4 m-a padding0 float-left">
                                             
                                          </div> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3 m-t-2 padding0">
                          <div class="a-r-d3">
                              <div class="row m-0 cor ">
                                      <div class="col-md-12 padding0 float-left">
                                              <ul class="padding0" style="list-style: none">
                                                      <li class="li-items">
                                                          <img class="w-10" src="../../assets/icon-007.png"><br>
                                                          <span class="float-left">ACCELERATION</span><br>
                                                          <span class="f-s-10">(Incidents)</span><br>
                                                          <button class="p-31 m-t-10"><span class="f-s-22">{{(rapidacceleration) ? rapidacceleration : '- -'}}</span></button>
                                                      </li>
                                              </ul>
                                      </div>
                                      <!-- <div class="col-md-4 m-a padding0 float-left"> 
                                              
                                      </div> -->
                                      <!-- <div class="col-md-4 m-a padding0 float-left">
                                             
                                          </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
                 
            </div>
      
        </div>
      </div>
        <div class="row m-0 m-t-10">
            <div class="col-md-12 padding0 m-4">
                <div id='map' class="col-md-12"></div>
            </div>
        </div>
      </div>