.activeclass{
  background-color: #f9f9f9!important;
  border-bottom: 3px solid palevioletred;
  cursor:pointer;

}
.nav-tabs>li>a:hover{
  cursor:pointer;
}

.m-0 {
  margin: 0px
}
.m-t-15 {
  margin-top: 15px
}
.background {
  /* background: '#66c8275';
  height: '-webkit-fill-available' */
}
.top-nav {
  /* background: #f2e5f1; width: 98% */
}
.padding0 {
  padding: 0px;
}
.a-r {
  background: #f2e5f1; width: 98%
}
.f-s {
  font-size: 20px;
}
.f-s-10 {
  font-size: 10px
}
.a-i {
  margin-left: 15px !important;
  font-size: 25px !important;
  margin-top: 12px !important;
  background: #f8fbff;
  border-radius: 10px;

}
/*--------row 2-------*/
.r-2 {
border: 1px black solid;
/* padding: 40px; */
}
.m-t-10 {
 margin-top: 10px
}
.m-l-5 {
 margin-left: 30px;

}
.m-30 {
 margin-top: 30px
}
.a-r-2 {
 background: #013358;
 width: 98%
}
.text-color {
 color: #f8fbff
}
.a-r-3 {
background: #03a9f5;
width: 98%
}
.p-7 {
 padding: 7px
}
.p-5 {
 padding: 5px
}
.a-r-i {
/* margin-left: 15px !important; */
font-size: 25px !important;
/* margin-top: 12px !important; */
}
.t-a {
 text-align: center
}
.b-c {
 border: 1px black solid ;
 padding: 32px;
}
.a-r-4 {
 width: 98%
}
.b-c-4 {
border: 1px black solid ;
}
#map{
height:500px;
width:100%;
}

.img {
  margin-left: 50px
}

.li-items {
text-align: center;
background: #d9dde6;
width: 12%;
float: left;
margin-left: 18px;
}
.m-4 {
margin-top: 4px;
}
.p-10 {
padding: 10px
}
.p-4 {
padding: 4px;
}
.p-2 {
padding: 2px;
}
.p-6 {
padding: 6px;
}
.f-s-30 {
font-size: 30px;
}