<app-header></app-header>
<div class="container-fluid">
  <div class="col-md-12 panle-one-wrapper">
    <span>
      Andhra Pradesh Legislative Assembly.2014
    </span>
  </div>

  <div class="col-md-12 pt-4">
    <div class="col-md-2 pt-0 category-txt">
      <span>Select category</span>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <select id="demographic" name="demographic" class="form-control dropdown-wrapper"
          (change)="demographic($event)">
          <!-- <option *ngFor="let regions of region" [selected]="regiondefaultname == regions">{{regions}}</option> -->
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12 panle-parameters-wrapper">
    <span>Parameters</span>

  </div>

  <div class="col-md-12 ptrbl-0">
    <div class="col-md-7 plr-2">

      <div class="col-md-4 ptrbl-0 plr-2">
        <div class="card text-white card-height-wrapper">
          <div class="card-header card-header-wrapper">OC</div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 plr-2">
        <div class="card text-white card-height-wrapper">
          <div class="card-header card-header-wrapper">BC</div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="col-md-4 plr-2">
        <div class="card text-white card-height-wrapper">
          <div class="card-header card-header-wrapper">OC</div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5 pt-0">

      <div class="col-md-6 plr-2">
        <div class="card text-white card-height-wrapper">
          <div class="card-header card-header-wrapper">SC & ST</div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>

            <div class="col-md-12 plr-2">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 plr-2">
        <div class="card text-white card-height-wrapper">
          <div class="card-header card-header-wrapper">OC</div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>

            </div>

          </div>
        </div>

      </div>


    </div>
  </div>




  <!--Election State List-->

  <div class="col-md-12 ptrbl-0 mt-3">
    <div class="col-md-3 plr-2">
      <div class="card text-white">
        <div class="card-header comfort-win-header-wrapper">Comfortable Win</div>
        <div class="card-body card-body-wrapper">
          <div class="col-md-12" style="border-bottom: 1px solid #F1F1F1;margin-top: 3px;padding-bottom: 4px;">
            <div class="col-md-6 ptrbl-0 mt-6">
              <span>Visakhapatnam</span>
            </div>

            <div class="col-md-6 ptrbl-0">
              <div class="progress progress-wrapper">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>

    </div>
    <div class="col-md-3 plr-2">
      <div class="card text-white">
        <div class="card-header comfort-win-header-wrapper">Moderate Fight</div>
        <div class="card-body card-body-wrapper">
          <div class="col-md-12" style="border-bottom: 1px solid #F1F1F1;margin-top: 3px;padding-bottom: 4px;">
            <div class="col-md-6 ptrbl-0 mt-6">
              <span>Visakhapatnam</span>
            </div>

            <div class="col-md-6 ptrbl-0">
              <div class="progress progress-wrapper">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>

    </div>
    <div class="col-md-3 plr-2">
      <div class="card text-white">
        <div class="card-header comfort-win-header-wrapper">Narrow Fight</div>
        <div class="card-body card-body-wrapper">
          <div class="col-md-12" style="border-bottom: 1px solid #F1F1F1;margin-top: 3px;padding-bottom: 4px;">
            <div class="col-md-6 ptrbl-0 mt-6">
              <span>Visakhapatnam</span>
            </div>

            <div class="col-md-6 ptrbl-0">
              <div class="progress progress-wrapper">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>

    </div>

    <div class="col-md-3 plr-2">
      <div class="card text-white">
        <div class="card-header comfort-win-header-wrapper">Tough Fight</div>
        <div class="card-body card-body-wrapper">
          <div class="col-md-12" style="border-bottom: 1px solid #F1F1F1;margin-top: 3px;padding-bottom: 4px;">
            <div class="col-md-6 ptrbl-0 mt-6">
              <span>Visakhapatnam</span>
            </div>

            <div class="col-md-6 ptrbl-0">
              <div class="progress progress-wrapper">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                  70%
                </div>
              </div>
            </div>
          </div>



        </div>

      </div>

    </div>

    <!--Election State List-->

  </div>
</div>