
<app-header></app-header>
<div class="bg" style="background-size: cover">
  <div class="container-fluid">
     <div class="row">
       <div class="col-md-2" style="padding-top: 23px;">
          <div class="circle-text">
              Add<br>
            Tenant
              </div>
       </div>
       <div class="col-md-9" style="padding-top:23px">
         <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Organization Name</label>
                <input type="text" class="form-control transparent-input" id="organizationname">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Contact Number</label>
                <input type="text" class="form-control" id="contactnumber">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6" style="background: none">
                  <label for="inputEmail4">Organization Category</label>
                  <select id="inputState" class="form-control" style="background: none">
                      <option selected>Choose...</option>
                      <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Official Email ID</label>
                  <input type="text" class="form-control" id="officialemailid">
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Admin Name</label>
                    <input type="text" class="form-control" id="adminname">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="text" class="form-control" id="username">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Alternative Email ID</label>
                      <input type="text" class="form-control" id="adminname">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Confirm Password</label>
                      <input type="text" class="form-control" id="username">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="inputEmail4">Security Question 1</label>
                        <input type="text" class="form-control" id="username">
                      </div>
                     
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="inputEmail4">Answer 1</label>
                          <input type="text" class="form-control" id="adminname">
                        </div>
                       
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="inputEmail4">Security Question 2</label>
                            <input type="text" class="form-control" id="adminname">
                          </div>
                         
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                              <label for="inputEmail4">Answer 2</label>
                              <input type="text" class="form-control" id="adminname">
                            </div>
                           
                          </div>
                      <div class="form-row">
                          <div class="form-group col-md-12" style="text-align: center">
                              <!-- <button type="button" class="btn btn-primary btn-block">Button 1</button> -->
                              <button type="button" class="btn btn-primary" style="width: 15%; height: 49px;background-color: #5D474A;  border: none">Submit</button>
                          </div>
                         
                        </div>
        
        </div>
        <div class="col-md-1">
      
          </div>
  

     </div>

  </div>
</div>