.navheader{
    color: white;
    }

    .panel-heading {
        padding:0px;
        border-bottom: 0px;
         border-top-left-radius: 0px;
         border-top-right-radius: 0px;
    }
    .panel {
        margin-bottom: 0px;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        border: 0px solid transparent;
    }

    .shape:after {
        border-top: 100px solid red;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        height: 0;

    }
    .shape {
        width: 200px;
        height: 200px;
         border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background: red;
        /* transform: perspective(10px) rotateX(-2deg);*/


    }
    .talkbubble {
        /* border-right:1px solid #273048; */
        padding:15px;
    }
    /* .talkbubble:hover {
        opacity: 10
    } */
    /* .talkbubble:hover {
        width: 120px;
       padding:15px;
        background: #273048;
        position: relative;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

      } */
      .talkbubble:hover {
        /* background-color:#1E428A; */
        

        color:white;
      }

   
      /* #aks:hover {
        content: url('../../assets/images/manufacturing.png');
        }
     */
      
    /* #aks1:hover {
        content: url('../../assets/images/Truck-image.png');
    } */
/* 
    #aks2:hover {
        content: url('../../assets/images/Finance.png');
    }
       */
    /* #aks3:hover {
        content: url('../../assets/images/human_resources.png');
    } */

    /* #aks4:hover {
        content: url('../../assets/images/healthcare.png');
    } */

    /* #aks5:hover {
        content: url('../../assets/images/energy.png');
    } */

      .talkbubble:hover:before {
        /* content: ""; */
        position: absolute;
        right: -14px;
        top: -24px;
        left: -14px;
        border-top: 24px solid #273048;
        border-left: 14px solid transparent;
        border-right: 13px solid transparent;
        height: 0;
        /* width: 100%; */
      }
      .talkbubble1 {
        /* width: 120px; */
       padding:15px;
        /* background: #273048; */
        position: relative;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      .talkbubble1:before {
        /* content: ""; */
        position: absolute;
        right: -14px;
        top: -24px;
        left: -14px;
        /* border-top: 24px solid #273048;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent; */
        height: 0;
        /* width: 100%; */
      }

    .topt {
        border-top: 43px solid red;
        border-left: 14px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        position: absolute;
        top: -42px;
        left: 2px;
        right: -5px;
    }
    .panel-body {
        padding: 4px;
    }
    /* .container-fluid {
        padding-right: 7px;
        padding-left: 7px;
        margin-right: auto;
        margin-left: auto;
    } */

    .topnav {
        overflow: hidden;
        background-color:#155f57;
    }

    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 2px;
        border: none;
        margin: 2px;
    /*     margin-right: 16px; */
        font-size: 17px;
       /*  background-color: #155f57; */
         border: 1px solid  #155f57;
        border-radius: 3px;
    }

    /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
    @media screen and (max-width: 600px) {
        .topnav a, .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }

    .menudiv {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }


      .vl {
        border-left: 1px solid #6c950f;
        height: 194px;
        position: absolute;
        left: 39%;
        margin-left: 74px;
        margin-top: 18px;
        top: 0;
    }



    .img-center {
        display: block;
        margin: 0 auto;
        height: 100px;

    }

    #fleet_hover:hover, #health_hover:hover{
        background-color:grey;
    }
    .imgmargin{
       margin-top:13px
    }

    .blur-wrapper{
        pointer-events: none;
        opacity: 0.4;
    }

    .pointer-class{
      cursor: pointer;
    }



.talkbubble.manufacture p {
    color:#8F9094;
    font-weight: bold;
}

.talkbubble.manufacture:hover p {
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.manufacture:hover img{
    content: url('../../assets/images/manufacturing.png');
}

.talkbubble.transport p{
    color:#8F9094;
    font-weight: bold;
}


.talkbubble.transport:hover p{
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.transport:hover img{
    content: url('../../assets/images/Truck-image.png');
}

.talkbubble.finance p{
    color:#8F9094;
    font-weight: bold;
}

.talkbubble.finance:hover p{
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.finance:hover img{
    content: url('../../assets/images/Finance.png');
}

.talkbubble.humanResource p{
    color:#8F9094;
    font-weight: bold;
}

.talkbubble.humanResource:hover p{
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.humanResource:hover img{
    content: url('../../assets/images/human_resources.png');
}

.talkbubble.healthCare p{
    color:#8F9094;
    font-weight: bold;
}

.talkbubble.healthCare:hover p{
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.healthCare:hover img{
    content: url('../../assets/images/healthcare.png');
}


.talkbubble.energy p{
    color:#8F9094;
    font-weight: bold;
}

.talkbubble.energy:hover p{
    color:#1E428A;
    font-weight: bold;
}

.talkbubble.energy:hover img{
    content: url('../../assets/images/energy.png');
}



