<div class="container-fluid">
  <div class="panel panel-default">
      <div class="panel-body" style="text-align: right;background-color:#E69800"><strong style="color:white;">Reports</strong></div>
    </div>
  
    <div class="col-md-12 padding:0px">
      <div class="row">
        <div class="col-md-2" id="fleet_hover">
    
          <img src="../../assets/hero_Image.jpg" class="img-center img-responsive img-Radius">
           <p style="text-align: center; color:#267872">Route Tracking</p>
  
        </div>
        
  
        <div class="col-md-2" id="fleet_hover">  
          <img src="../../assets/hero_Image.jpg" class="img-center img-responsive img-Radius">
          <p style="text-align: center;color:#267872 ">Vehicle Data</p>
  
  
        </div>
        <div class="col-md-2" id="fleet_hover">  
          <img src="../../assets/hero_Image.jpg" class="img-center img-responsive img-Radius">
          <p style="text-align: center;color:#267872">Tire Data</p>
  
        </div>
     
        
       
       
      </div>
    </div>

</div>