<app-header (sidenavChange)='sidenavChanged()'></app-header>

<!-- <div class="container-fluid">
    <div class="row" *ngIf="Overview">
      <ul class="nav nav-tabs card-header-tabs nav_border_bottom">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{activeclass: isActive(1)}" (click)="setfleetOverview(1);" style="color: #788786;">Vehicle Behavior </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{activeclass: isActive(2)}" (click)="setDriver(2);" style="color: #788786"> Vehicle Performance </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{activeclass: isActive(3)}" (click)="setvehicleMetric(3);" style="color: #788786"> Route Optimization </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [ngClass]="{activeclass: isActive(4)}" (click)="setcustomerFeed(4);" style="color: #788786"> Driver Feedback  </a>
          </li>
      </ul>
      <div>
        <div>
            <app-vehiclebehavior *ngIf="fleetOverview"> </app-vehiclebehavior>
        </div>
        <div>
            <app-vehicleperformance *ngIf="driverProfile"></app-vehicleperformance>
        </div>
        <div>
            <app-vehicleroute  *ngIf="trackOrder"></app-vehicleroute>
        </div>
        <div>
            <app-vehiclecustomer  *ngIf="custFeed"></app-vehiclecustomer>
        </div>

      </div>
    </div>
    <div class="row" *ngIf="tenantOverview">
        <ul class="nav nav-tabs card-header-tabs nav_border_bottom">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{activeclass: isActive(1)}" (click)="setfleetOverview(1);" style="color: #788786;">Vehicle Behavior </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{activeclass: isActive(2)}" (click)="setDriver(2);" style="color: #788786"> Vehicle Performance </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{activeclass: isActive(3)}" (click)="setvehicleMetric(3);" style="color: #788786"> Route Optimization </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{activeclass: isActive(4)}" (click)="setcustomerFeed(4);" style="color: #788786"> Driver Feedback  </a>
            </li>
        </ul>
        <div>
          <div>
              <app-vehiclebehaviourtenant *ngIf="fleetOverview"></app-vehiclebehaviourtenant>
          </div>
          <div>
              <app-vehicleperformance *ngIf="driverProfile"></app-vehicleperformance>
          </div>
          <div>
              <app-vehicleroute  *ngIf="trackOrder"></app-vehicleroute>
          </div>
          <div>
              <app-vehiclecustomer  *ngIf="custFeed"></app-vehiclecustomer>
          </div>
  
        </div>
      </div>
</div> -->
<div container-fluid>
    <div class="row m-0">
        <div class="col-md-2 text-center padding0">
            <span class="topsectiontext">Driver</span>
            <select class="dropdownWidth" name="Fleet" [(ngModel)]="drivername" (change)="vehicleDDChange($event)">
                <option style="font: bold" selected disabled value="-1">Select Driver</option>
                <option> {{drivername}} </option>
                <option *ngFor="let option of mapdata" value="{{option.deviceNbr}}">{{option.personName}}</option>
            </select>

        </div>
    </div>
    <div class="row m-0 m-t-15">
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/1icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Decreased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">{{(behaviourcard) ? behaviourcard : '- -'}}%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-down a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/2icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Decreased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">{{(speedcard) ? speedcard : '- -'}}%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-down a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/3icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Increased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">600%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-up a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/4icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Decreased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">30%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-down a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/5icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Increased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">10%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-up a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 float-left top-nav">
            <div class="a-r">
                <div class="row m-0">
                    <div class="col-md-4 padding0">
                        <img src="../../assets/6icon.png">
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="row m-0">
                            <span>
                                Increased
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="f-s">0%</span>
                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <i class="fa fa-arrow-up a-i" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row r-2 m-0 m-t-15">
        <div class="col-md-3 p-7">
            <div class="row m-0">
                <span class="f-s">Driver Scorecard</span>
            </div>
            <div class="row m-0">
                <div class="col-md-2 padding0">
                    <img src="../../assets/7icon.png">
                </div>
                <div class="col-md-10 padding0">
                    <span>{{(driver) ? driver : '- -'}}</span><br>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-t-10">
            <div class="a-r-2">
                <div class="row m-0 p-5">
                    <div class="col-md-4 padding0 m-30">
                        <span class="text-color m-l-5 f-s">57%</span>
                    </div>
                    <div class="col-md-8 padding0">
                        <div class="row m-0">
                            <span>
                                <i class="fa fa-arrow-up a-i" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="row m-0">
                            <span class="text-color f-s-10">Increased by 1.9 points</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-t-10">
            <div class="a-r-3">
                <div class="row m-0 t-a">
                    <div class="col-md-12 padding0">
                        <span class="text-color f-s">Rank</span>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-5">
                        <span>November</span><br>
                        <span>27/40</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-arrow-right a-r-i" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-5">
                        <span>November</span><br>
                        <span>27/40</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 b-c m-t-10">
            <span>Current Location:</span> &nbsp; <span> {{location}} </span>
        </div>
    </div>
    <!-----row3-->
    <div class="row m-0 m-t-15">
        <div class="col-md-3 padding0">
            <div class="a-r-4 b-c-4 p-7">
                <div class="row m-0">
                    <div class="col-md-6 float-left"><span>Harsh Events</span></div>
                    <div class="col-md-6 float-left" style="cursor: pointer"><span><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target="#myModal"></i></span></div>
                </div>
                <div class="row m-0">
                    <div [chart]="harshevents">

                    </div>
                </div>
                <div class="row m-0 t-a">
                    <div class="p-7">Acceleration Events: &nbsp; {{(todayAcceleration) ? todayAcceleration : '- -'}}
                    </div>
                    <div class="p-7">Braking Events: &nbsp; {{(todayBraking) ? todayBraking : '- -'}}</div>
                    <div class="p-7">Speeding Events: &nbsp; {{(highSpeed) ? highSpeed : '- -'}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 padding0">
            <div class="a-r-4 b-c-4 p-7">
                <div class="row m-0">
                    <div class="col-md-6 float-left"><span>Hours Per Day</span></div>
                    <div class="col-md-6 float-left" style="cursor: pointer"><span><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target="#myModal1"></i></span></div>
                </div>
                <div class="row m-0">
                    <div [chart]="hourschart">

                    </div>
                </div>
                <div class="row m-0 t-a">
                    <div class="p-7">Total driving time: &nbsp; {{(drivetime) ? drivetime : '- -'}} Min</div>
                    <div class="p-7">Total idling time: &nbsp; {{(idlingtime) ? idlingtime : '- -'}} Mins</div>
                    <div class="p-7">Stopped Time: &nbsp; {{(stoptime) ? stoptime : '- -'}} Mins</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 padding0">
            <div class="a-r-4 b-c-4 p-7">
                <div class="row m-0">
                    <div class="col-md-6 float-left"><span>Miles Per Day</span></div>
                    <div class="col-md-6 float-left" style="cursor: pointer"><span><i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target="#myModal2"></i></span></div>
                </div>
                <div class="row m-0">
                    <div [chart]="mileschart">

                    </div>
                </div>
                <div class="row m-0 t-a">
                    <!-- <div class="p-7">Days used: &nbsp; 33</div> -->
                    <div class="p-7">Miles driven: &nbsp; {{this.miles}}</div>
                    <div class="p-7">Unauthorized Miles driven: &nbsp; {{this.unauthorizedMiles}}</div>
                    <div class="p-7">Total trips: &nbsp; {{this.totaltrips}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 padding0">
            <div class="a-r-4 b-c-4 p-7">
                    <div id="map">
        
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Harsh Events Insights</h4>
                </div>
                <div class="modal-body">
                    <!-- <pre *ngFor="let item of hrsAcc">
                         Hour:{{item.hrs}},Acceleration:{{item.acc}}
                    </pre> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div [chart]="hoursAccChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="hoursBrakingChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="hoursSpeedChart">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Driving Hour Insights</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div [chart]="driveChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="idleChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="stopChart">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Miles Insights</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div [chart]="mileChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="unauthorizedMileChart">
        
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div [chart]="tripChart">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>