<app-header (sidenavChange)='sidenavChanged()'></app-header>

<div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs card-header-tabs nav_border_bottom">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{activeclass: isActive(1)}" (click)="setactiveProject(1);" style="color: #788786;"> Expense Analytics </a>
          </li>
      </ul>
      <div>
        <div id="home">
            <app-expense-analytics *ngIf="expenseAnalysis"></app-expense-analytics>
        </div>
       
      </div>
    </div>
</div>